<html>

<body style="margin:0px">
    <div style="padding:30px 15px 30px 20px;">
        <h1 style="color:#4E46B4">时光机活动说明及隐私政策</h1>
        <h2>方寸·流年摄影比赛声明</h2>
        <ol>
            <li>您有权选择是否参加本次大赛。您参加本次大赛的部分或全部内容，即视为您已完全理解并接受本次大赛及 《天外天时光机隐私政策》
                各项条款全部内容，包括本页面中提出的大赛规则及其解释等，但大赛主办方不会收集您的任何个人信息。</li>
            <li>仅接受提交过程中认同这些提交规则的作品。</li>
            <li>本次大赛不收取任何费用或退回任何提交作品，且仅接受电子文件投稿，请通过首页的“去投稿”功能投稿。作品未投稿成功或者审核不通过的，一切损失及后果由您自行承担。</li>
            <li>您应保证所提交的参赛作品由您本人独立创作完成，您对参赛作品应享有完整和合法的著作权，且保证参赛作品不出现任何侵犯他人权益的情形（包括但不限于侵犯他人肖像权、名誉权、隐私权、著作权、商标权等合法权益），您承诺遵守中华人民共和国及您所在国家或地区相关法律法规，不得发布或上传反动、色情、暴力、恐怖等任何形式的违法信息。对于违反适用法律法规的作品，或是主办方认为破坏社会秩序或公共道德的作品，将被取消参赛资格。如因参赛作品违法或侵权而产生的一切纠纷、法律责任及造成的一切损失均由您本人承担。
            </li>
            <li>不遵守大赛规则的作品将不会被选中。如此类作品被选中，亦不可免除其后获奖资格遭取消。主办方有权收回奖金、奖品、证书及其他被授予的权益，并在其官方网站及其他媒体上公布此举。</li>
            <li>参赛作品仍由您保留对作品的各项权利，活动组织方和征稿平台拥有您作品在本次活动宣传范围内非商业用途使用权。最终获奖作品著作权归原摄影师所有，获奖作品摄影师将授予主办方及关联公司用于主办方推广宣传活动中，通过各种渠道（包括但不限于网络、新闻发布或其他媒体、线下展示推广会等活动）使用作品（保留获奖作品摄影师署名权），使用地域不受限制，并允许主办方对作品进行修改和裁切。
            </li>
            <li>本次大赛活动解释权归主办方所有。</li>
        </ol>
        <h2>天外天时光机隐私政策</h2>
        <h3>更新日期：2023年04月20日</h3>
        <h3>生效日期：2023年04月20日</h3>
        <p>天外天时光机摄影社区（“我们”，网址：<a
                style="color:#4E46B4">photograph.twt.edu.cn</a>，网站名称：天外天时光机）注重保护用户个人信息及个人隐私。本隐私政策包含我们收集、处理、存储、使用、共享、转让、公开披露和保护用户（“您”）的个人信息（以下或称“信息”）的有关条款。
        </p>
        <p>我们深知个人信息对您的重要性，并会尽全力保护您的个人信息安全可靠。我们致力于维持您对我们的信任，恪守以下原则，保护您的个人信息：权责一致原则、目的明确原则、选择同意原则、最少够用原则、确保安全原则、主体参与原则、公开透明原则等。同时，我们承诺，我们将按照业界成熟的安全标准，采取相应的安全保护措施来保护您的个人信息。
        </p>
        <u>
            <p style="font-weight:bold;">
                请您在使用我们的服务前，仔细阅读和了解本隐私政策，以帮助您了解维护自己隐私权的方式。如果您对本隐私政策有任何疑问，您可以通过我们公布的联系方式与我们联系。如果您不同意本隐私政策的任何内容，您应立即停止使用我们的服务。当您使用我们提供的任一服务时，即表示您已经同意我们按照本隐私政策来收集、处理、存储、使用、共享、转让、公开披露和保护您的个人信息。
            </p>
        </u>
        <p>本隐私政策将帮助您了解以下内容：</p>
        <div style="font-weight:bold;">
            <p>一. 本隐私政策的管辖法律和适用范围；</p>
            <p>二. 我们如何收集和使用您的个人信息；</p>
            <p>三. 我们如何存储您的个人信息；</p>
            <p>四. 我们如何使用Cookie和同类技术；</p>
            <p>五. 我们如何共享、转让、公开披露您的个人信息；</p>
            <p>六. 我们如何保护您的个人信息；</p>
            <p>七. 您管理您个人信息的权利；</p>
            <p>八.本隐私政策的更新及如何联系我们。</p>
        </div>
        <h3>一、本隐私政策的管辖法律和适用范围</h3>
        <p style="font-weight:bold;">（一）本隐私政策的管辖法律</p>
        <p>本隐私政策依照中华人民共和国法律制定和解释，适用中国法律并仅受中国法律管辖。</p>
        <p>本隐私政策所称中国法律，指中国的立法机关或政府机构不时颁布的法律、法规、规章、规范性文件、以及其他形式的监管规定或政府命令。</p>
        <p style="font-weight:bold;">（二）本隐私政策的适用范围</p>
        <p>本隐私政策适用于天外天时光机提供的所有服务（以下简称“服务”或“我们的服务”），您访问天外天时光机网站和使用天外天时光机提供的服务，均适用本隐私政策。</p>
        <p>本隐私政策所称“天外天时光机网站”包括但不限于天外天时光机网（当前网址为<a
                style="color:#4E46B4">https://photograph.twt.edu.cn</a>，如果将来我们变更网址或增加其他网址，请以届时的网址为准）以及相关的微信公众号或其他公众号平台、微信小程序或其他小程序、APP以及可能不时涉及的其他互联网媒介等。
            我们所有的服务均适用本隐私政策。本隐私政策不适用于通过我们的服务而接入的其他第三方产品或服务（“第三方”，包括但不限于您的交易相对方、任何第三方网站以及第三方服务提供者）收集的信息。我们对第三方使用您个人信息的行为及后果不承担任何责任。请您注意，第三方可能有自己的隐私政策，您需要仔细阅读其政策内容。当您查看第三方创建的网页或使用第三方开发的应用程序时，可能会发现该网页或应用程序放置的Cookie或像素标签。这些Cookie或像素标签不受我们的控制，而且它们的使用不受本隐私政策的约束。
        </p>
        <p style="font-weight:bold;">二、我们如何收集和使用您的个人信息</p>
        <p>个人信息是指以电子或其他方式记录的能够单独或与其他信息结合识别特定自然人身份或反映特定自然人活动情况的各种信息。本隐私政策中涉及的个人信息包括：
            基本信息（包括真实姓名、住址、联系电话号码）、个人常用设备信息、网络身份标识信息（包括系统账号、IP地址、邮箱地址及与前述有关的密码、口令）、地理位置信息、同时包括签约供稿所涉及的个人身份信息（身份证、护照等）等相关信息。
        </p>
        <p style="font-weight:bold;"><u> 我们仅会出于本隐私政策所述的以下目的，收集和使用您的个人信息：</u></p>
        <p style="font-weight:bold;">（一）我们在您注册天外天时光机账号过程中可能收集的您的个人信息</p>
        <p>1、通过注册账号直接收集的信息</p>
        <p style="font-weight:bold;"><u>在您使用我们的服务前，您需要注册天外天时光机账号以成为我们的用户。为账号注册之目的，您需要按照相关网络页面的提示向我们提供用于识别您身份的信息。</u></p>
        <p>如果您是个人用户，您可以通过在相关网络页面输入您本人名下的邮箱并回填我们发送给您的验证码进行注册。</p>
        <p>如果您未注册天外天时光机账号，将导致您不能成为我们的用户，但这并不会导致我们禁止您访问天外天时光机网站并使用基本的浏览或信息搜索功能。然而，在任何情形下，您都充分理解并完全同意，我们无意且不应被认定为向任何未注册天外天时光机账号的对象提供任何服务或与之建立任何商业关系。
        </p>
        <p>2、通过天外天账号间接收集的信息</p>
        <p>为了校内用户的便利，我们允许您通过天外天账号直接进行登录（为此您必须保证该账号正在由您本人使用）。</p>
        <p>除上述情况外，在未取得您的明确授权的情形下，我们不会主动从第三方获取您的个人信息，如果将来业务发展需要从第三方间接获取您的个人信息，我们会严格遵守中国法律的相关规定。如果我们开展业务需要进行的个人信息处理活动超出了您向第三方授权同意的处理范围，我们将在处理您的个人信息前征得您的明示同意。我们亦将严格遵守中国法律的相关规定，要求第三方保障其提供的信息的合法性。
        </p>
        <p style="font-weight:bold;">（三）征得授权同意的例外</p>
        <p style="font-weight:bold;"><u>以下情形中，收集和使用您的个人信息无需征得您的授权同意：</u></p>
        <p>1、与国家安全、国防安全有关的；</p>
        <p>2、与公共安全、公共卫生、重大公共利益有关的；</p>
        <p>3、与犯罪侦查、起诉、审判和判决执行等有关的，或相关政府主管部门要求的；</p>
        <p>4、出于维护个人信息主体或其他个人的生命、财产等重大合法权益但又很难得到您本人同意的；</p>
        <p>5、所收集的个人信息是您自行向社会公众公开的；</p>
        <p>6、从合法公开披露的信息中收集个人信息的，如合法的新闻报道、政府信息公开等渠道；</p>
        <p>7、根据您的要求签订合同所必需的；</p>
        <p>8、用于维护所提供的产品或服务的安全稳定运行或天外天时光机和相关权利人合法权益所必需的，例如发现、处置产品或服务的故障；</p>
        <p>9、为合法的新闻报道所必需的；</p>
        <p>10、学术研究机构基于公共利益开展统计或学术研究所必要，且对外提供学术研究或描述的结果时，对结果中所包含的个人信息进行去标识化处理的；</p>
        <p>11、在不透露单个用户隐私资料的前提下，天外天时光机对整个用户数据库进行分析并对用户数据库进行商业上的利用；</p>
        <p>12、中国法律法规规定的其他情形。</p>
        <h3>三、我们如何存储您的个人信息</h3>
        <p>我们在中国境内收集和产生的个人信息，将仅存储在中国境内。</p>
        <h3>四、我们如何使用Cookie和同类技术</h3>
        <p style="font-weight:bold;">（一）网站Cookie的使用</p>
        <p>为确保网站正常高效运转、为您获得更轻松的访问体验，我们有时会在您的设备终端/系统上存储名为 Cookie的小数据文件。</p>
        <p>Cookie会帮助您在后续访问天外天时光机网站时调用您的信息，简化您填写个人信息(例如登录等)的流程。我们不会将Cookie用于本隐私政策所述目的之外的任何用途。您可根据自己的偏好管理或删除Cookie。您可以清除计算机上保存的所有Cookie，您有权接受或拒绝Cookie。大多数浏览器会自动接受Cookie，但您通常可根据自己的需要来修改浏览器的设置以拒绝Cookie；另外，您也可以清除软件内保存的所有Cookie。但您可能因此无法完全体验我们某些便捷性的服务功能。
        </p>
        <p style="font-weight:bold;">（二）其他同类技术</p>
        <p>目前，我们并未使用除Cookie以外的其他同类技术。</p>
        <h3>五、我们如何共享、转让、公开披露您的个人信息</h3>
        <p style="font-weight:bold;">（一）共享</p>
        <p style="font-weight:bold;"><u>我们不会与任何公司、组织和个人共享您的个人信息，但以下情况除外：</u></p>
        <p>1、事先获得您明确的同意或授权；</p>
        <p>2、基于法定情形：根据法律规定、诉讼等争议解决需要，司法机关或政府机构等依法提出的要求；</p>
        <p>3、与关联方共享：为向您提供更好的服务，我们可能与我们的关联公司共享您的个人信息。但我们仅共享必要的个人信息，且关联公司对您的个人信息的处理和保护亦须受本隐私政策的约束。关联公司如要改变您的个人信息的处理目的，将再次征求您的授权和同意；
        </p>
        <p>4、基于协议约定：依据您与我们签署的相关协议(包括在线签署的电子协议及相关规则)或其他法律文件，有必要向第三方共享时；</p>
        <p>5、基于合理商业习惯：例如与第三方共享联合营销活动中的中奖信息，以便第三方能及时向您发放奖品；在不透露单个用户隐私资料的前提下，对整个用户数据库进行分析并对用户数据库进行商业上的利用；</p>
        <p>6、基于学术研究：例如为科研机构开展统计或学术研究之必要；</p>
        <p>7、基于符合法律法规的社会公共利益、维护天外天时光机及相关权利人的合法权益等。</p>
        <p>除非获得您的明确授权和同意，否则我们不会与第三方广告商、应用程序开发者、开放平台或其他合作伙伴共享您的个人信息。我们可能会为这些合作伙伴提供汇总后的信息、匿名化后的信息或其他不会识别到您个人身份的信息。</p>
        <p>仅为实现本隐私政策中声明的目的，我们可能会与我们的供应商、服务提供商、顾问或代理人共享您的个人信息，以提供更好的客户服务和用户体验。这些供应商、服务提供商、顾问、代理人可能为我们提供技术基础设施服务，分析我们服务的使用方式，衡量广告和服务的有效性，提供客户服务和支付服务，进行学术研究和调查，或提供法律、财务与技术顾问服务。
        </p>
        <p>请您知悉，即使已经取得您的授权同意，我们也仅会出于合法、正当、必要、特定、明确的目的共享您的个人信息，并尽量对共享内容中的个人信息进行去标识化处理。对我们与之共享您的个人信息的公司、组织和个人，我们会与其签署严格的数据保护协定，要求其按照我们的说明、本隐私政策以及其他任何相关的保密和安全措施妥善保护和处理您的个人信息。
        </p>
        <p style="font-weight:bold;">（二）转让</p>
        <p style="font-weight:bold;"><u>我们不会将您的个人信息转让给其他任何公司、组织和个人，但以下情形除外：</u></p>
        <p>随着我们业务的发展，我们及我们的关联公司有可能进行合并、收购、资产转让或其他类似的交易。如相关交易涉及到您的个人信息转让，我们会要求新持有您个人信息的公司、组织和个人继续受本隐私政策的约束，否则我们将要求该公司、组织和个人重新征得您的授权同意。
        </p>
        <p>在获得您明确同意的情形下转让，亦即获得您明确同意后，我们会向其他方转让我们已经获取的您的个人信息。</p>
        <p style="font-weight:bold;">（三）公开披露</p>
        <p style="font-weight:bold;"><u>我们仅会在以下情况下，且采取符合业界标准的安全防护措施的前提下，公开披露您的个人信息：</u></p>
        <p>1、已经获得您明确同意；</p>
        <p>2、根据中国法律的要求、强制性的行政执法或司法活动的要求所必须提供您个人信息的情况下，我们可能会依据所要求的个人信息类型和披露方式公开披露您的个人信息。在可行的限度内，当我们收到上述披露信息的请求时，我们会要求请求方出具与之相应的法律文件，如传票或调查函；
        </p>
        <p>3、中国法律允许的其他情形。</p>
        <p style="font-weight:bold;">（四）共享、转让、公开披露个人信息时事先征得授权同意的例外</p>
        <p style="font-weight:bold;"><u>以下情形中，共享、转让、公开披露您的个人信息无需事先征得您的授权同意：</u></p>
        <p>1、与国家安全、国防安全有关的；</p>
        <p>2、与公共安全、公共卫生、重大公共利益有关的；</p>
        <p>3、与犯罪侦查、起诉、审判和判决执行等有关的，或相关政府主管部门要求的；</p>
        <p>4、出于维护您或其他个人的生命、财产等重大合法权益但又很难得到您本人同意的；</p>
        <p>5、您自行向社会公众公开的个人信息；</p>
        <p>6、从合法公开披露的信息中收集个人信息的，如合法的新闻报道、政府信息公开等渠道；</p>
        <p>根据法律规定，共享、转让、公开披露经去标识化处理的个人信息，且确保数据接收方无法复原并重新识别个人信息主体的，我们对此类数据的处理将无需另行向您通知并征得您的同意。</p>
        <p>请注意，您在使用我们服务时自愿发布甚至公开分享的信息，可能会涉及您或他人的个人信息甚至个人敏感信息，例如您的发帖、跟帖评论、聊天内容所包含的文字、图片等各种形式的信息。请您在使用我们的服务时更加谨慎地考虑，是否要发布甚至公开分享相关信息。
        </p>
        <h3>六、我们如何保护您的个人信息</h3>
        <p style="font-weight:bold;">（一）数据安全措施</p>
        <p>为保障您的信息安全，我们努力采取各种符合业界标准的物理、电子和管理方面的安全措施来保护您的个人信息，防止您的个人信息遭到未经授权访问、公开披露、使用、修改、损坏或丢失。我们将尽力采取一切合理可行的措施，保护您的个人信息。
        </p>
        <p>请注意，无法与任何特定个人直接建立联系的数据，不属于个人信息。如果我们将这类非个人信息与其他信息结合用于识别自然人个人身份，或将其与个人信息结合使用，则在结合使用期间，此类信息将被视为个人信息。</p>
        <p style="font-weight:bold;">（二）账号安全</p>
        <p>互联网并非绝对安全的环境，我们强烈建议您通过安全方式、使用复杂密码，协助我们保证您的账号安全。如果您发现自己的个人信息泄密，尤其是您的账号密码发生泄露，请您立即根据本隐私政策中提供的联系方式联络我们，以便我们采取相应措施。
        </p>
        <p style="font-weight:bold;">（三）个人信息安全事件处置</p>
        <p>在不幸发生个人信息安全事件后，我们将按照中国法律的规定，及时向您告知：安全事件的基本情况和可能的影响、我们已采取或将要采取的处置措施、您可自主防范和降低风险的建议、对您的补救措施等。我们将及时将事件相关情况以邮件、信函、电话、推送通知等方式告知您，难以逐一告知个人信息主体时，我们会采取合理、有效的方式发布公告。同时，我们还将按照监管部门要求，主动上报个人信息安全事件的处置情况。
        </p>
        <h3>七、您管理您个人信息的权利</h3>
        <p>按照中国法律、并适当参照其他国家或地区的通行做法，我们保障您对自己的个人信息行使以下权利：</p>
        <p style="font-weight:bold;">（一）访问和编辑您的个人信息</p>
        <p>您有权访问和编辑您的个人信息，法律规定的例外情况除外。</p>
        <p>如果您想行使数据访问和编辑的权利，可以通过以下方式自行访问和编辑：</p>
        <p>1、账号信息：如果您希望访问或编辑您的账号中的个人资料信息、更改您的密码、添加安全信息或其他相关信息(以下统称“账号信息”)，您可以在PC端或移动端访问天外天时光机网站（在登陆状态下通过“个人中心”功能）执行此类操作；
        </p>
        <p>2、上传作品：如果您希望访问或编辑您的上传作品，您可以在PC端或移动端访问天外天时光机网站中找到您的相应的上传作品，并在相应的信息页面执行此类操作；</p>
        <p>如果您无法通过上述内容访问或编辑您的上述个人信息，您可以随时联系我们的在线客服，我们将尽快回复您并尽可能向您提供指导。</p>
        <p style="font-weight:bold;">（二）更正您的个人信息</p>
        <p>当您发现我们处理的关于您的个人信息有错误时，您有权要求我们做出更正。您可以通过“访问和编辑您的个人信息”中列明的方式提出更正申请，我们将在30天内回复您的更正请求。</p>
        <p style="font-weight:bold;">（三）删除您的个人信息</p>
        <p>您可以通过“访问和编辑您的个人信息”中允许的方式删除您的部分个人信息。</p>
        <p>在以下情形中，您可以向我们提出删除个人信息的请求：</p>
        <p>1、如果我们处理个人信息的行为违反中国法律；</p>
        <p>2、如果我们收集、使用您的个人信息，却未征得您的明确同意；</p>
        <p>3、如果我们处理个人信息的行为严重违反了与您的约定；</p>
        <p>4、如果您不再使用我们的产品或服务，或您主动注销了账号；</p>
        <p>5、如果我们不再为您提供服务。</p>
        <p>如果我们决定响应您的删除请求，我们还将同时尽可能通知从我们处获得您的个人信息的主体，要求其及时删除，除非中国法律另有规定，或这些主体获得您的独立授权。
            当您从我们的服务中删除信息后，我们可能不会立即从备份系统中删除相应的信息，但会在备份更新时删除这些信息。</p>
        <p style="font-weight:bold;">（四）改变您授权同意的范围或撤回授权</p>
        <p>每个业务功能需要一些基本的个人信息才能得以完成（见本隐私政策“第二条”）。</p>
        <p style="font-weight:bold;">
            <u>您可以通过“访问和编辑您的个人信息”中允许的方式删除信息、更改隐私设置、以及在浏览器系统中关闭相关功能等方式改变同意范围或撤回您的授权。但请您理解，当您执行上述操作后，我们将无法继续为您提供撤回同意或授权所对应的服务，也将不再处理相应的个人信息。但您撤回同意的决定，不会影响此前基于您的授权而开展的个人信息处理。</u>
        </p>
        <p style="font-weight:bold;">（五）响应您的上述请求</p>
        <p>为了保障您的账号及个人信息安全，在涉及部分请求（如注销账号等）时，我们可能需要您提供相应方式证明您的身份和请求的正当性，我们将在收到您反馈并验证您的身份后的15个工作日内答复您的请求。</p>
        <p>对于您合理的请求，我们原则上不收取费用，但对多次重复、超出合理限度的请求，我们将视情收取一定成本费用。</p>
        <p>对于那些无端重复、需要过多技术手段（例如，需要开发新系统或从根本上改变现行惯例）、给他人合法权益带来风险或非常不切实际的请求，我们可能会予以拒绝。</p>
        <p>在以下情形中，按照法律法规要求，我们将无法响应您的请求：</p>
        <p>1、与国家安全、国防安全有关的；</p>
        <p>2、与公共安全、公共卫生、重大公共利益有关的；</p>
        <p>3、与犯罪侦查、起诉、审判和执行判决等有关的；</p>
        <p>4、有充分证据表明个人信息主体存在主观恶意或滥用权利的；</p>
        <p>5、响应您的请求将导致您、天外天时光机或其他个人、组织的合法权益受到严重损害的；</p>
        <p>6、涉及商业秘密的。</p>
        <h3>八、本隐私政策的更新及如何联系我们</h3>
        <p>为给您提供更好的服务，我们的业务可能不时发生变化，本隐私政策也将随之调整。未经您明确同意，我们不会削减您依据本隐私政策所应享有的权利。我们会通过在天外天时光机网站发出更新版本或以其他方式提醒您相关内容的更新，也请您访问天外天时光机网站以便及时了解最新的隐私政策。在前述情况下，如果您继续使用我们的服务，即表示同意接受修订后的本隐私政策并受之约束。
        </p>
        <p>如果您对于我们的个人信息处理行为存在任何投诉举报需求，您可以通过我们的在线客服或通过发送邮件至<span
                style="color:#4E46B4">twtstudio@163.com</span>、以及我们不时提供的其他方式（如有）与我们取得联系并作充分描述，我们将在验证您身份后的15个工作日内答复您的请求并尽力解决。
        </p>
        <p>如果您对我们的回复不满意，特别是认为我们的个人信息处理行为损害了您的合法权益，您还可以通过向被告住所地有管辖权的法院提起诉讼、以及中国法律允许的其他途径寻求解决方案。</p>
    </div>
</body>

</html>